.main-block__content-block--pre {
    align-self: center;
    width: 100%;
    overflow: scroll;
    padding: 10px 0px 10px 20px;
    color: aliceblue;
    border-radius: 10px;
    background-color: #2f3136;
    border: 2px solid #282b30;
}
.main-block__content-block--pre::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

.colorPurple {
    color: #b294bb;
}

.colorOrange {
    color: #de935f;
    ;
}

.colorBlue {
    color: #89b6c5;
}

.colorRed {
    color: #dc7069;
}