*{
    font-family:'Courier New', Courier, monospace;
}
.mainblock{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
   
}
.boxes{
    display: flex;
    width: 80%;
    height: 80%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    
}
.imgbox{
    display: flex;
    position: relative;
    overflow: hidden;
    width: 40%;
}
.imgbox img{
  height: 100%;
}
.infobox{
 overflow: hidden;
}
.hiddenscroll{
    display: flex;
   flex-direction: column;
   align-items: center;
 padding-left: 10px;
 overflow: scroll; 
 width: 101%;
 height: 103%;   
}
.infobox pre{
    width: 80%;
    padding: 10px 0px 10px 20px;
    color: aliceblue;
    border-radius: 10px;
    background-color: #2f3136;
    border: 2px solid #282b30;
}
 a{
    text-decoration:none;
}
.colorPurple{
 color: #b294bb; 
}
.colorOrange{
 color:  #de935f;;
}
.colorBlue{
 color:  #89b6c5;
}
.colorRed{
 color: #dc7069;
}