h2, h3, p {
    font-family: 'Almarai';
}

.main-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-image: url(./assets/2.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.main-block__container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 80%;
    width: 90%;
    max-width: 800px;
    background-color: #ffffff1e;
    overflow: hidden;
}

.main-block__photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.333%;
    height: 25%;
}

.main-block__photo {
    height: 90%;
}

.main-block__contact-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 25%;
}

.main-block__contact {
    width: 33.333%;
    height: 30%;
    overflow: scroll;
    background-color: aqua;
}

.main-block__contact::-webkit-scrollbar {
    display: none;
}

.main-block__main-info {
    overflow: scroll;
    width: 100%;
    height: 75%;
}

.main-block__main-info::-webkit-scrollbar {
    display: none;
}

.main-block__content-block {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 10px 0px 10px 0px;
    padding: 30px;
    background-color: azure;
    text-align: left;
}

.footer {
    height: 10%;
    width: 90%;
    max-width: 800px;
    background-color: #ffffff1e;
}

.footer__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.footer__img {
    height: 50px;
}

@media (max-width: 550px) {
    .main-block__container {
        flex-direction: column;
        align-items: center;
    }
    .main-block__main-info {
        height: 75%;
    }
    .main-block__photo-container {
        display: none;
    }
}

@media (max-height: 568px) {
    .main-block__contact-info {
        font-size: 80%
    }
    .footer__img {
        height: 15px;
    }
}

@media (max-height: 480px) {
    .main-block__contact-info {
        font-size: 50%
    }
}