h2, h3, p{
    font-family: 'Almarai';
}

.start-button___container {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}

.start-button__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.start-button__half-round {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 7.5em;
    border: 2px solid white;
    background-color: bisque;
}

.start-button__half-round--left {
    color: white;
    background-color: rgb(0, 0, 0);
}

.start-button__half-round--right {
    background-color: rgb(255, 255, 255);
}

/* --------- */

.main-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-image: url(./assets/2.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.main-block__container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 80%;
    width: 90%;
    max-width: 800px;
    background-color: #ffffff1e;
    overflow: hidden;
    /* box-shadow: 10px 10px 0px 0px rgb(94 123 125 / 57%); */
    /* backdrop-filter: blur(4px); */
}

.main-block__photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.333%;
    height: 25%;
}

.main-block__photo {
    /* margin-left: 20px; */
    height: 90%;
    /* box-shadow: 5px 5px 0px 0px rgb(94 123 125 / 57%); */
}

.main-block__contact-info {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    height: 25%;
}

.main-block__contact {
    width: 33.333%;
    height: 30%;
    overflow: scroll;
    background-color: aqua;
}

.main-block__contact::-webkit-scrollbar {
    display: none;
}

.main-block__main-info {
    /* align-self: start; */
    overflow: scroll;
    width: 100%;
    height: 75%;
    /* background-color: coral; */
}

.main-block__main-info::-webkit-scrollbar {
    display: none;
}

.main-block__content-block {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 10px 0px 10px 0px;
    padding: 30px;
    background-color: azure;
    text-align: left;
}

.footer {
    height: 10%;
    width: 90%;
    max-width: 800px;
    background-color: #ffffff1e;
}

.footer__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.footer__img {
    height: 50px;
}

@media (max-width: 550px) {
    .main-block__container {
        flex-direction: column;
        align-items: center;
    }
    .main-block__main-info {
        height: 75%;
    }
    .main-block__photo-container {
        display: none;
    }
}